<div class="container mt-4 cadre">
    <h2 class="text-primary">Liste des Ligues</h2>
  
    <input type="text" class="form-control mb-3" placeholder="Rechercher une ligue...">
  
    <table class="table table-bordered">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Pays</th>
          <th>Date de création </th>
          <th *ngIf="isConnected$ | async">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Premier League</td>
          <td>Angleterre</td>
          <td>1992-02-20</td>
          <td *ngIf="isConnected$ | async">
            <button class="btn btn-warning btn-sm">Modifier</button>
            <button class="btn btn-danger btn-sm">Supprimer</button>
            <button class="btn btn-info btn-sm text-white">Voir</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>La Liga</td>
          <td>Espagne</td>
          <td>1929-06-10</td>
          <td *ngIf="isConnected$ | async" >
            <button class="btn btn-warning btn-sm">Modifier</button>
            <button class="btn btn-danger btn-sm">Supprimer</button>
            <button class="btn btn-info btn-sm text-white">Voir</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button class="btn btn-success" *ngIf="isConnected$ | async">Ajouter une Ligue</button>
  </div>
  