 nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: #0056b3;
    border-radius: 4px;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

img {
    height: 50px; 
    max-width: 100%; 
}


.filters-container {
  display: flex;
  gap: 10px;
}
.filter-select {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}


.login-icon {
  position: fixed;
  top: 20px; 
 right: 500px;  
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #007bff; /* Bleu */
  border-radius: 50%; /* Rend le fond rond */
  padding: 5px; /* Ajuste l'espacement autour de l'image */
  transition: transform 0.2s ease-in-out;
}
.login-icon:hover {
  transform: scale(1.1);
}
#logout-icon {
  position: fixed;
  top: 24px; 
  right: 450px; /* Aligné à droite */
  width: 30px; /* Taille du  bouton */
  height: 30px;
  border-radius: 50%; /* Bouton rond */
  background-image: url('/assets/deco.png'); /* Image de fond */
  background-size: cover; /* Ajuste l'image */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  justify-content: center;
  z-index: 1050;
  border: none; /* Supprime la bordure */

}

#logout-icon:hover {
  transform: scale(1.1);
}

/* Ajuste l’image à l’intérieur du bouton */
#logout-icon img {
  width: 60%; /* Ajuste la taille de l'image */
  height: auto;
}




